@model Book

<h1 class="display-4">Edit Book</h1>
<hr />

<div class="row">
    <div class="col">
        <form method="post" asp-action="Edit" asp-route-id="@Model.Id">
            <div class="form-group">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" class="form-control" placeholder="Book title" />
                <small><span asp-validation-for="Title" class="alert-danger"></span></small>
            </div>
            <div class="form-group">
                <label asp-for="Summary">Summary</label>
                <textarea asp-for="Summary" rows="3" class="form-control" placeholder="Book Summary"></textarea>
                <small> <span asp-validation-for="Summary" class="alert-danger"></span></small>
            </div>
            <div class="form-group">
                <label asp-for="Author">Author</label>
                <input asp-for="Author" class="form-control" placeholder="John Doe" />
                <small><span asp-validation-for="Author" class="alert-danger"></span></small>
            </div>
            <div class="form-group">
                <label asp-for="PageCount">Page Count</label>
                <input asp-for="PageCount" class="form-control" placeholder="100" />
                <small><span asp-validation-for="PageCount" class="alert-danger"></span></small>
            </div>
            <div class="form-group form-check">
                <input asp-for="Published" class="form-check-input" />
                <label asp-for="Published" class="form-check-label">Published</label>
            </div>
            <div class="form-group form-check text-end">
                <a asp-action="Index" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-alt-circle-left mr-2"></i> Back To List!</a>
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save mr-2"></i> Save</button>
            </div>

        </form>
    </div>
</div>

