<h1> Razor Syntax </h1>
<h5>Inline Expression</h5>
<div> @DateTime.Now.ToString()</div>

<br />
@{
    string date = DateTime.Now.ToShortDateString();
    string message = "Merhaba Özlem, ASP.NET MVC CORE'a hoş geldin!";
}

<div>
    <h5>Multi_Statement Block</h5>
    <div> Bugünün tarihi : @date </div>
    <div> Mesaj : @message </div>
</div>

<br />
<div>
    <h5>Display Text From Code Block</h5>
    <h6>1.Yöntem</h6>
    <div>
        @{
            string date2 = DateTime.Now.ToShortDateString();
            string message2 = "Merhaba Dünya";
            @: Mesajım şudur : @message2 <br>
            @: tarih: @date
        }
    </div>
    <br />
    <h6>2.yöntem</h6>
    <div>
        @{
            string date3 = DateTime.Now.ToShortDateString();
            string message3 = "Merhaba Dünya";
            <text> Mesajım şudur: </text> @message2 <br>
            <text> Tarih: </text> @date
        }
    </div>
    <br />

    <div>
        <h5> If-Else Condition</h5>
        <div>
            @if(DateTime.IsLeapYear(DateTime.Now.Year))
            {
                @DateTime.Now.Year @: bir artık yıldır
            }
            else
            {
                @DateTime.Now.Year @: bir artık yıl değildir
            }
        </div>
    </div>

    <br />

    <div>
        <h5>Loops</h5>
        <h6>1.Yöntem</h6>
        <div>
            <ul>
            @for(int i=0; i<10; i++)
            {
                int index = i + 1;
                <li> @index item</li>
            }
            </ul>
        </div>
        <br />
        <h6>2.Yöntem</h6>
        <div>
            <ul>
                @for (int i = 0; i < 10; i++)
                {
                   
                    <li> @(i+1) item</li>
                }
            </ul>
        </div>
    </div>
</div>