<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication_MvcCoreCodes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication_MvcCoreCodes.styles.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApplication_MvcCoreCodes</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Örnekler
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-action="LocalFunctions">Local Functions</a></li>
                                <li><a class="dropdown-item" asp-action="TemplatedDelegates">Templated Delegates</a></li>
                                <li><a class="dropdown-item" asp-action="ClientSideModelValidation">Client-Side Model Validation</a></li>
                                <li><a class="dropdown-item" asp-action="ContentResult">Content Result</a></li>
                                <li><a class="dropdown-item" asp-action="RedirectResult">Redirect Result</a></li>
                                <li><a class="dropdown-item" asp-action="RedirectResult" asp-route-versiyon="2">Redirect Permanent Result</a></li>
                                <li><a class="dropdown-item" asp-action="FileResult">File Result</a></li>
                                <li><a class="dropdown-item" asp-action="StatusCodeResult">Status Code Result(Created=201)</a></li>
                                <li><a class="dropdown-item" asp-action="StatusCodeResult" asp-route-versiyon="2">Status Code Result(NotFound=404)</a></li>
                                <li><a class="dropdown-item" asp-action="JsonResult">Json Result</a></li>
                                <li><a class="dropdown-item" asp-action="PartialViewResult">Partial View Result</a></li>
                                <li><a class="dropdown-item" asp-action="PartialViewResult" asp-route-versiyon="2">Partial View Result(Fake)</a></li>
                                <li><a class="dropdown-item" asp-action="PartialViewPage">Partial View Page</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebApplication_MvcCoreCodes - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <partial name="_ValidationScriptsPartial"/>   
    eğer projenin tamamında kullanacaksak client side validationu buraya bu şekilde yazarız aksi halde diğer türlü yaparız *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
