@model List<Job>

  <h1>JOBS</h1>
  <br />

  <div class="row mb-3 text-end">
      <div class="col">
          <a asp-action="Create" class="btn btn-primary">Create</a>
      </div>
  </div>

  <div class="row">
      <div class="col">
      <table class="table table-bordered table-hover">
          <thead>
              <tr>
                <th>Summary</th>
                <th>Description</th>
                <th>Completed</th>
                <th>Assignee</th>
                <th></th>
              </tr>
          </thead>
          <tbody>
              @foreach(Job job in Model)
              {
              <tr>
                <td>@job.Summary</td>
                <td>@job.Description</td>
                <td>@(job.Completed ? "Evet" : "Hayır")</td>
                <td>@job.Assignee</td>
                <td>
                    <a asp-action="Details">Details</a>
                    <a asp-action="Edit">Edit</a>         
                    <a asp-action="Delete">Delete</a>
                </td>
                
              </tr>
              }
          </tbody>

      </table>

    </div>
  </div>
